* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    display: -moz-grid-group;
    place-items: center;
    text-align: center;
    background-image: url(m.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.hero
{
  position:absolute;
  width:1200px;
  margin-left:0px;
  margin-top:0px;
}

h1{
  color: white;
  text-transform: uppercase;
  font-size: 45px;
  text-align: center;
  margin-top: 50px;
  margin-left: 13%;
}
.container {
  width: 50%;
  min-height: 100px;
  background:transparent #140606;
  color: #fff;
  border: 5px solid rgb(39, 30, 28);
  margin-left: 25%;
  margin-top: 10%;
  text-align: center;
 
}
.woo {
  width: 50%;
  min-height: 100px;
  background:transparent #140606;
  color: #fff;
  border: 5px solid rgb(39, 30, 28);
  margin-left: 20%;
  margin-top: 10%;
  text-align: center;
 
}
.frm{  
  color: white;
  text-transform: uppercase;
  font-size: 27px;
  text-align: center;
  margin-top: 50px;
  margin-left: 1%;
}  
#btn{  
  color: #fff;  
  background: #995e11;  
  padding: 10px;  
  margin-left: 8%;  
  margin-top: 2%; 
  margin-bottom: 2%; 
}  
